.topnav {
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 91px;
  padding-left: 28px;
  padding-right: clamp(20px, 6.94vw, 100px);
  box-shadow: 0px 4px 4px 0px rgba($secondary-color, 0.25);

  img {
    width: 178px;
  }

  a {
    color: $tertiairy-color;
    text-decoration: none;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
  }
}
