.average-sessions {
  background-color: $primary-color;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  position: relative;

  .title {
    position: absolute;
    padding-right: 10%;
    top: 10%;
    left: 10%;
    color: rgba($tertiairy-color, 0.5);
    font-size: clamp(12px, 1vw, 15px);
  }
}
