.performance-radar {
  background-color: #282d30;

  flex: 1;
  border-radius: 5px;
  position: relative;

  .corner-label {
    position: absolute;
    color: $tertiairy-color;
    transform: translate(-50%, -50%);
  }
}
