.nutrition-card {
  background-color: $component-background-color;
  display: flex;
  padding: 32px;
  max-height: 124px;

  height: 100%;
  width: 100%;
  border-radius: 5px;

  .nutrition-icon {
    width: 60px;
    height: 60px;
  }
  .nutrition-info {
    flex-direction: column;
    padding-left: 20px;

    .nutrition-value {
      font-size: 20px;
      font-weight: 700;
    }

    .nutrition-label {
      color: #74798c;
    }
  }
}
