// Couleurs
$primary-color: #ff0000;
$secondary-color: #020203;
$tertiairy-color: #ffffff;

$text-color: #000000;
$secondary-text-color: #74798c;

$background-color: #ffffff;
$component-background-color: #fbfbfb;

// Polices
$font-family: "Roboto", sans-serif;
